@media screen and (min-width: 990px) {
  .hero-section {
    margin-top: 4.9986vw;
  }
  .video-tablet {
    display: none;
  }
  .video-desktop {
    display: block;
    position: relative;
    width: 91.665vw;
    height: 44.3046vw;
    margin-left: auto;
    margin-right: auto;
  }
  .video-desktop-1 {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }
  .hero-container {
    position: absolute;
    width: 100%;
    height: 44.3046vw;
  }
  .container-wrap {
    width: 44.444vw;
    height: 30.5495vw;
    margin-left: 8.3333vw;
  }
  .block-1 {
    color: #f6fcfb;
    margin-bottom: 3.0555vw;
    height: 18.32vw;
    line-height: 1.6666vw;
  }
  .text-1-animation {
    height: 6.1106vw;
  }
  .text-2-animation {
    height: 6.1106vw;
  }
  .text-3-animation {
    height: 6.1106vw;
  }
  .h-1 {
    font-size: 6.1111vw;
    font-weight: 500;
    letter-spacing: -1.76px;
    line-height: 6.1111vw;
  }
  .text-span {
    color: #00edc2;
  }
  .block-2 {
    font-size: 1.0416vw;
    margin-bottom: 3.0555vw;
    line-height: 1.6666vw;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    width: 29.513vw;
    height: 3.33075vw;
  }
  .parrafo-1 {
    letter-spacing: -0.3px;
  }
  .block-3 {
    width: 8.10546vw;
    height: 2.7773vw;
    border-radius: 0.5555vw;
    margin-top: -1px;
    letter-spacing: -0.3px;
  }
  .btn-1-text {
    font-size: 0.9722vw;
    font-weight: 600;
    letter-spacing: 0.28px;
    margin-right: 6.6666px;
  }
  .btn-1-arrow-hover {
    width: 1.24866vw;
    height: 1.24866vw;
  }
  // Segundo Main
  .here-section-2 {
    margin-top: 7.22225vw;
    // Cuando añado display flex capaz cambia las versiones anteriores
    display: flex;
    justify-content: space-between;
    width: 83.332vw;
    margin-left: auto;
    margin-right: auto;
  }
  .here-section-2-1 {
    margin-bottom: 0px;
    width: 31.2486vw;
    margin-left: 0px;
    left: 0;
  }
  .div-block-4 {
    line-height: 1.6666vw;
    width: 100%;
    margin-bottom: 1.11108vw;
  }
  .subtitle-1 {
    color: #81848a;
    font-size: 0.972225vw;
    letter-spacing: 0.28px;
    text-align: left;
  }
  .br-desactive {
    display: none;
  }
  .div-block-3 {
    width: 100%;
    top: 73.12;
    margin-bottom: 2.2222vw;
  }
  .h-3 {
    font-size: 2.7083vw;
    line-height: 3.3333vw;
    letter-spacing: -0.78px;
    text-align: left;
  }
  .text-span-2 {
    line-height: 3.3333vw;
  }
  .div-block-5 {
    width: 100%;
    margin-bottom: 3.3333vw;
    top: 73;
  }
  .desc-2-section-2 {
    font-size: 1.0416vw;
    line-height: 1.6666vw;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .desc-2-section-2-1 {
    margin-top: 1.111vw;
    font-size: 1.0416vw;
    line-height: 1.6666vw;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .btn-section-2 {
    margin-left: 0;
    width: 9.3736vw;
    height: 2.7773vw;
    padding: 0px;
    border-radius: 0.55555vw;
    align-items: center;
  }
  .btn-2-text {
    margin-right: 0.5555vw;
    font-size: 0.97225vw;
    letter-spacing: 0.28px;
    text-decoration: none;
    line-height: 1.6666vw;
  }
  .btn-2-icon {
    position: relative;
    width: 1.248666vw;
    height: 1.248666vw;
  }
  .btn-2-arrow-hover {
    width: 1.248666vw;
    height: 1.248666vw;
  }
  .h-bg-visual-1 {
    top: -42px;
    left: -60.16px;
    width: 18.67966vw;
    height: 20.069vw;
  }
  // 3er MAIN
  .three-main {
    margin-top: 0px;
    background-color: transparent;
    width: 43.05466vw;
  }
  .widget-wrap {
    display: flex;
    flex-direction: column;
    width: 43.05466vw;
    background-color: transparent;
  }
  .c-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2.2213vw;
    margin-top: 0px;
    margin-bottom: 3.3476vw;
  }
  .toggle-wrap {
    width: 10.4135vw;
    height: 2.2213vw;
    display: flex;
    justify-content: space-between;
  }
  .text-block-2 {
    margin-right: 1.111vw;
    font-size: 0.8333vw;
    letter-spacing: 0.28px;
    line-height: 1.6666vw;
  }
  .toggle {
    position: relative;
    width: 3.194vw;
    height: 1.6653vw;
  }
  .active-bg {
    width: 3.194vw;
    height: 1.6653vw;
  }
  .inactive-bg {
    width: 3.194vw;
    height: 1.6653vw;
  }
  .toggle-btn {
    left: 2px;
    top: 1.5px;
    right: auto;
    bottom: auto;
    width: 1.388vw;
    height: 1.388vw;
  }
  .hor-line-grey {
    display: none;
  }

  .img-panel {
    width: 100%;
  }
  .visual-img-1 {
    width: 42.05466vw;
    height: 35.32vw;
  }
  .visual-img-2 {
    position: relative;
    width: 41.6653vw;
    height: 34.7903vw;
  }
  .div-block-110 {
    left: 60.5%;
    top: 62%;
    width: 14.9296vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .block-14 {
    width: 14.9296vw;
    height: 4.9986vw;
  }
  .block-15 {
    width: 1.5963vw;
    height: 1.5963vw;
    margin-top: 0.486vw;
    margin-right: 2.0139vw;
  }
  .block-16 {
    width: 0.4856vw;
    height: 0.4856vw;
  }
  .logo-panel {
    margin-left: 0;
    margin-right: 0;
    width: 12.3385vw;
    height: 2.2213vw;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  .logo-panel-1 {
    width: 12.3385vw;
    height: 2.2213vw;
  }
  .block-29 {
    width: 7.569vw;
    height: 2.2213vw;
    margin-right: 0.5555vw;
  }
  .text-block {
    width: 4.2148vw;
    height: 1.6653vw;
    font-size: 0.8333vw;
    letter-spacing: 0.28px;
    line-height: 1.66666vw;
  }
  .logo-panel-mobile {
    display: none;
  }
  .div-1-graphics {
    margin-top: 44.6066vw;
    position: absolute;
    width: 100%;
    height: 68.9375vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c014115629b6d82d6702_h-shape-bg-grey%402x.svg);
  }
  /* Cuarto main */
  .four-main {
    margin-top: 13.54vw;
    position: relative;
    width: 100%;
    line-height: 3.0769vw;
  }
  .four-main-container {
    width: 83.332vw;
    background-color: transparent;
    // Por display flex capaz tengamos errores en las versiones anteriores
    display: flex;
    justify-content: space-between;
  }
  .img-1-wrap {
    display: block;
    width: 46.31875vw;
    height: 40.9713vw;
  }
  .img-1-bg {
    position: relative;
    width: 39.513vw;
    height: 32.152vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c014115629d28c2d6743_h-visual-2-bg%402x-min.png);
    background-position: 0px 0px;
    background-size: cover;
  }
  .img-1-bioma {
    position: absolute;
    left: auto;
    top: 50px;
    right: 38.1vw;
    bottom: auto;
    width: 31.2486vw;
    height: 34.7903vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562928232d676e_h-visual-2-bioma-min.png);
    background-position: 0px 0px;
    background-size: cover;
  }
  .content-wrap {
    width: 31.2486vw;
  }
  .div-block-6 {
    margin-bottom: 1.11108vw;
    font-size: 1.0416vw;
    line-height: 1.6666vw;
  }
  .div-block-8 {
    margin-bottom: 2.22225vw;
    text-align: left;
    top: 73;
    line-height: 3.3333vw;
  }
  .img-1-wrap-tablet {
    display: none;
  }
  .div-block-7 {
    width: 100%;
    margin-bottom: 3.333vw;
  }
  .desc-2 {
    font-size: 1.0416vw;
    line-height: 1.6666vw;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .superscript {
    position: relative;
    top: -5px;
    font-size: 11px;
    text-align: left;
  }
  .btn-2-section-4 {
    margin-left: 0;
    width: 13.61066vw;
    height: 2.7773vw;
    border-radius: 0.5555vw;
    font-size: 0.972225vw;
    line-height: 1.6666vw;
  }
  .btn-2-text-section-4 {
    margin-right: 0.5555vw;
    font-size: 0.952225vw;
    letter-spacing: 0.28px;
    line-height: 1.6666vw;
    height: 1.6653vw;
    width: 9.509vw;
  }
  .btn-2-icon-section-4 {
    position: relative;
    width: 1.2486vw;
    height: 1.2486vw;
  }
  .h-bg-visual-2 {
    left: 75.0272vw;
    top: -0.95454vw;
    right: auto;
    bottom: auto;
    width: 12.09375vw;
    height: 9.4843vw;
  }
  .div-2-graphics {
    top: -7vw;
    z-index: -100;
    height: 66.6653vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562986732d6701_t-bg-shape-desktop-2%402x.svg);
  }
  /* 5to main */
  .h-section-5 {
    margin-top: 6.3475vw;
    padding-top: 7.9846vw;
    width: 100%;
  }
  .h-section-5-container {
    left: auto;
    width: 83.332vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    background-color: transparent;
    margin-right: auto;
  }
  .content-wrap-1 {
    position: relative;
    width: 48.0546vw;
    margin-left: auto;
    margin-right: auto;
  }
  .div-block-9 {
    margin-bottom: 1.11108vw;
    text-align: center;
    position: relative;
    top: 0px;
    line-height: 1.6666vw;
  }
  .div-block-11 {
    width: 100%;
    margin-bottom: 2.22225vw;
    line-height: 1.6666vw;
    top: 0;
  }
  .text-center {
    text-align: center;
  }
  .div-block-10 {
    width: 100%;
    line-height: 1.6666vw;
    top: 0;
  }
  .div-block-14 {
    margin-top: 7.2222vw;
    width: 100%;
    flex-direction: row;
  }
  .h-bg-visual-3 {
    left: 48.166vw;
    top: 60px;
    width: 13.819vw;
    height: 9.790333vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629468f2d66ad_t-bg-visual-1%402x.svg);
  }
  .h-visual-3 {
    top: 0;
    width: 52.082vw;
    height: 30.9023vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562949b62d676f_h-visual-3%402x.svg);
  }
  .div-block-15 {
    top: 0;
    width: 20.832vw;
    margin-top: 0;
    line-height: 1.666vw;
  }
  .text-1 {
    font-size: 1.6666vw;
    line-height: 2.2222vw;
    text-align: left;
  }
  .div-3-graphics {
    top: -112px;
    width: 100%;
    height: 60.1153vw;
    z-index: -101;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c014115629dbc22d66ff_t-bg-shape-desktop-3%402x.svg);
  }
  /* 6to main */
  .h-section-6 {
    margin-top: 235px;
  }
  .content-wrap-section-6 {
    width: 83.332vw;
  }
  .content-wrap-section-6-1 {
    width: 100%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .div-block-16 {
    width: 41.6653vw;
    top: 0px;
    margin-bottom: 1.11108vw;
    font-size: 1.0416vw;
    line-height: 1.6666vw;
  }
  .div-block-17 {
    width: 41.6653vw;
    top: 0px;
  }
  .div-block-19 {
    width: 29.8606vw;
    margin-top: 5.569px;
  }
  .div-block-18 {
    width: 100%;
    margin-bottom: 0px;
    position: relative;
    top: 0px;
    line-height: 1.6666vw;
  }
  .desc-2-block-18 {
    font-size: 1.0416vw;
    line-height: 1.6666vw;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .btn-2-section-6 {
    top: 1.8846vw;
    margin-right: auto;
    width: 13.61066vw;
    height: 2.7773vw;
    border-radius: 0.5555vw;
    font-size: 0.972225vw;
    line-height: 1.6666vw;
  }
  .btn-2-text-section-6 {
    margin-right: 0.5555vw;
    font-size: 0.952225vw;
    letter-spacing: 0.28px;
    line-height: 1.6666vw;
    height: 1.6653vw;
    width: 9.509vw;
  }
  .h-visual-4-wrap {
    width: 91.665vw;
    height: 47.3316vw;
    margin-top: 4.225vw;
    background-color: #f8f8f8;
  }
  .h-visual-4-header {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 4.513vw;
    margin-left: auto;
    margin-right: auto;
  }
  .divider-line-grey {
    width: 84.4441vw;
    height: 0.069vw;
  }
  .header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.09;
  }
  .header-content {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.95311vw;
    line-height: 3.125vw;
    margin-left: auto;
    margin-right: auto;
    height: 3.125vw;
  }
  .biom-solution {
    display: flex;
    align-items: center;
    margin-right: 4.16667vw;
    font-size: 1.95311vw;
    line-height: 3.125vw;
  }
  .green-bullet {
    width: 0.694vw;
    height: 0.694vw;
  }
  .text-block-13 {
    margin-left: 0.4166vw;
    font-weight: 300;
    letter-spacing: -0.28px;
    line-height: 1.6666vw;
    font-size: 0.97225vw;
  }
  .partner-involvement {
    display: flex;
    align-items: center;
  }
  .grey-bullet {
    width: 0.694vw;
    height: 0.694vw;
  }
  .text-block-14 {
    margin-left: 0.4166vw;
    margin-left: 0.7813vw;
    letter-spacing: -0.28px;
    line-height: 1.6666vw;
    font-size: 0.97225vw;
  }
  .h-bg-visual-4 {
    position: absolute;
    top: -45px;
    right: -17px;
    width: 19.0963vw;
    height: 13.054vw;
  }
  .h-bg-visual-5 {
    display: none;
  }
  .t-1 {
    top: 9vw;
    right: 60.7vw;
    width: 17.777vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-2 {
    top: 9.0888vw;
    right: 39.955vw;
    width: 11.8046vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-3 {
    right: 17.2vw;
    bottom: 34.9vw;
    width: 10.207vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-4 {
    left: 3vw;
    top: 41.5555vw;
    width: 13.0546vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-5 {
    left: 26vw;
    top: 41.5vw;
    width: 15.2773vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-6 {
    left: 51.5vw;
    bottom: 3.5vw;
    width: 12.9856vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-7 {
    left: 75vw;
    bottom: 4.45vw;
    width: 12.4296vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .line-point-1 {
    left: 21.5777vw;
    top: 12.06vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156291edb2d6749_line-point-1%402x.svg);
  }
  .line-point-2 {
    top: 12.06vw;
    right: 45.35vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156291edb2d6749_line-point-1%402x.svg);
  }
  .line-point-3 {
    right: 21.83vw;
    bottom: 30.6vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156291edb2d6749_line-point-1%402x.svg);
  }
  .line-point-4 {
    left: 9.61vw;
    top: 36.9vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156295fb22d674b_line-point-grey%402x.svg);
  }
  .line-point-5 {
    display: block;
    top: 36.7vw;
    left: 33.5vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562929ec2d6758_line-point-green%402x.svg);
  }
  .line-point-6 {
    left: 57.28vw;
    bottom: 6.56vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562929ec2d6758_line-point-green%402x.svg);
  }
  .line-point-7 {
    left: 80.66vw;
    bottom: 6.2333vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156295fb22d674b_line-point-grey%402x.svg);
  }
  .h-visual-4-img {
    width: 83.332vw;
    height: 20.832vw;
    margin-top: 11.3889vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562982cf2d674d_h-visual-4-n%402x.svg);
  }
/* 7TO Main */
.h-section-7 {
  height: 100.0051vw;
  margin-top: 5.2608vw;

}
.here-video-2-mobile {
  display: none;
}
.here-video-2-tablet{
  display: none;
  
}
.here-video-2-desktop{
  display: block;
  width: 93.19%;
  margin-left: auto;
  margin-right: auto;
  height: 53.61vw;
}
.here-video-2-desktop-1{
  display: block;
  width:100%;
  height: 53.61vw;
  z-index: -1;
}
.h-section-7-container {
  margin-top:-47vw;
  width: 83.232vw;
  height: 38.74vw;
  padding-top: 0vw;
  margin-bottom: 0px;
}
.div-block-36 {
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
.content-h-section-7 {
  width: 33.9354vw;
  height: 29.431vw;
}
.div-block-21 {
  margin-bottom: 3.3889vw;
  width: 100%;
  text-align: left;

}
.h-2 {
  font-size: 5vw;
  line-height: 5.0833vw;
}
.div-block-20 {
  margin-bottom: 6.25vw;
  height: 20.8323vw;
  font-size: 1.05vw;
  margin-bottom: 0vw;
  line-height: 10.16vw;
  text-align: left;
}
.desc-1 {
  font-size: 1.05vw;
  margin-bottom: 1.129vw;
  line-height: 1.69vw;
}
.btn-2-section-7 {
  width: 8.188vw;
  height: 3.9229vw;
  padding: 0px;
  border-radius: 0.5648vw;
  display: flex;
  text-align: left;
  margin-left: -26.25vw;
}
.cta-widget-section-7 {
  width: 41.665vw;
  height: 33.9153vw;
  margin-bottom: 0px;
}
.div-block-22 {
  left: 11.675vw;
  top: 11.5vw;
  width: 21.957vw;
  height: 13.061vw;
}
.div-block-23 {
  left: 12.5333vw;
  top: -1.5vw;
  width: 15.9557vw;
  height: 14.1198vw;
}
.div-block-24 {
  top: 3.8277vw;
  right: 0.25vw;
  width: 13.2721vw;
  height: 11.8606vw;
}
.div-block-25 {
  right: 1.99777vw;
  bottom: 2.9277vw;
  width: 15.037vw;
  height: 14.4023vw;
}
.div-block-26 {
  right: 13.3333vw;
  bottom: -2.3vw;
  width: 13.2721vw;
  height: 11.6484vw;
}
.div-block-27 {
  left: 0.25vw;
  bottom: 1.9vw;
  width: 15.390vw;
  height: 15.6028vw;
}
.div-block-28 {
  left: 0.5vw;
  top: 3.0277vw;
  width: 13.4843vw;
  height: 12.9192vw;
}
}
