@media screen and (min-width: 480px) {
  // Primer Main
  .hero-section {
    margin-top: 9.375vw;
  }
  .video-mobile {
    display: none;
  }
  .video-desktop {
    display: none;
  }
  .video-tablet {
    display: block;
    position: relative;
    width: 91.1437vw;
    height: 100.51875vw;
    margin-left: auto;
    margin-right: auto;
  }
  .video-tablet-1 {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }
  .hero-container {
    position: absolute;
    width: 100%;
    height: 100.51875vw;
  }
  .container-wrap {
    width: 83.3312vw;
    height: 51.02851vw;
    margin-left: 10.7421vw;
  }
  .block-1 {
    color: #f6fcfb;
    margin-bottom: 5.2083vw;
    height: 28.125vw;
    line-height: 3.125vw;
  }
  .text-1-animation {
    height: 9.375vw;
  }
  .text-2-animation {
    height: 9.375vw;
  }
  .text-3-animation {
    height: 9.375vw;
  }
  .h-1 {
    font-size: 9.375vw;
    font-weight: 500;
    letter-spacing: -1.76px;
    line-height: 9.375vw;
  }
  .text-span {
    color: #00edc2;
  }
  .block-2 {
    font-size: 1.9531vw;
    margin-bottom: 6.25vw;
    line-height: 3.125vw;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    width: 56.3144vw;
    height: 6.2304vw;
  }
  .block-3 {
    width: 15.1031vw;
    height: 5.2062vw;
    border-radius: 1.041vw;
    margin-top: -2px;
    letter-spacing: -0.3px;
  }
  .parrafo-1 {
    letter-spacing: -0.3px;
  }

  .btn-1-text {
    font-size: 1.8229vw;
    font-weight: 600;
    letter-spacing: 0.28px;
    margin-right: 5.333px;
  }
  .btn-1-arrow-hover {
    width: 2.34375vw;
    height: 2.34375vw;
  }
  // Segundo Main
  .here-section-2 {
    margin-top: 13.5416vw;
  }
  .here-section-2-1 {
    margin-bottom: 78px;
    width: 78.125vw;
    margin-left: auto;
    margin-right: auto;
  }
  .div-block-4 {
    line-height: 3.0769vw;
    width: 100%;
    margin-bottom: 2.05134vw;
  }
  .subtitle-1 {
    color: #81848a;
    font-size: 1.82229vw;
    letter-spacing: 0.28px;
  }
  .br-desactive {
    display: none;
  }
  .div-block-3 {
    width: 100%;
    top: 73.12;
    margin-bottom: 4.1025vw;
  }
  .h-3 {
    font-size: 5.0781vw;
    line-height: 6.25vw;
    letter-spacing: -0.78px;
  }
  .text-span-2 {
    color: #009e82;
    line-height: 6.25vw;
    font-weight: 500;
  }
  .div-block-5 {
    width: 100%;
    margin-bottom: 6.25vw;
    top: 73;
  }
  .desc-2-section-2 {
    font-size: 1.95311vw;
    line-height: 3.125vw;
    letter-spacing: -0.3px;
  }
  .desc-2-section-2-1 {
    margin-top: 2.0833vw;
    font-size: 1.95311vw;
    line-height: 3.125vw;
    letter-spacing: -0.3px;
  }
  .btn-section-2 {
    margin-left: 0;
    width: 17.578vw;
    height: 5.2073vw;
    padding: 0px;
    border-radius: 1.0416vw;
    align-items: center;
  }
  .btn-2-text {
    margin-right: 1, 041vw;
    font-weight: 600;
    font-size: 1.8229vw;
    letter-spacing: 0.28px;
    text-decoration: none;
    line-height: 3.125vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn-2-icon {
    position: relative;
    width: 2.3442vw;
    height: 2.3442vw;
  }
  .btn-2-arrow-hover {
    width: 2.3442vw;
    height: 2.3442vw;
  }
  .h-bg-visual-1 {
    top: -35px;
    width: 35.025vw;
    height: 37.6292vw;
  }
  // 3er MAIN
  .three-main {
    font-family: "Inter", sans-serif;
    margin-top: -14px;
    background-color: transparent;
  }
  .widget-wrap {
    display: flex;
    flex-direction: column-reverse;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    background-color: transparent;
  }
  .c-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 17.5vw;
    // margin-bottom: 31.5px;
    margin-top: 11.75vw;
  }
  .toggle-wrap {
    width: 19.2638vw;
    height: 4.1646vw;
    display: flex;
    justify-content: space-between;
  }
  .text-block-2 {
    margin-right: 2.0833vw;
    font-size: 1.5625vw;
    letter-spacing: 0.28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .toggle {
    position: relative;
    width: 5.9886vw;
    height: 3.125vw;
  }
  .active-bg {
    width: 5.9886vw;
    height: 3.125vw;
    border-radius: 197px;
    background-color: #009e82;
  }
  .inactive-bg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: block;
    width: 5.9886vw;
    height: 3.125vw;
    border-radius: 197px;
    background-color: #bfbfbf;
  }
  .toggle-btn {
    position: absolute;
    left: 2px;
    top: 1.5px;
    right: auto;
    bottom: auto;
    width: 2.6021vw;
    height: 2.6021vw;
    border-radius: 50%;
    background-color: #fff;
  }
  .hor-line-grey {
    display: none;
  }

  .img-panel {
    position: relative;
    width: 78.125vw;
    margin-right: auto;
    margin-left: auto;
  }
  .visual-img-1 {
    position: absolute;
    width: 78.125vw;
    height: 65.4926vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0131156292ba42d66dd_visual-widget-1-mobile%402x-min.png);
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    background-position: 0px 0px;
    background-size: cover;
  }
  .visual-img-2 {
    position: relative;
    width: 78.125vw;
    height: 65.4926vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629de0d2d66c1_visual-widget-2-mobile%402x.png);
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
    background-position: 0px 0px;
    background-size: cover;
  }
  .div-block-110 {
    position: absolute;
    left: 62%;
    top: 65%;
    right: 0%;
    bottom: 30px;
    width: 27.9926vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .block-14 {
    width: 27.9926vw;
    height: 9.375vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562988e52d673d_tooltip-body%402x.png);
    background-position: 0px 0px;
    background-size: cover;
  }
  .block-15 {
    margin-left: 180px;
    display: flex;
    width: 2.9928vw;
    height: 2.9928vw;
    margin-top: 0.9115vw;
    margin-right: 4.1467vw;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 6px 18px 6px rgb(0 0 0 / 16%);
  }
  .block-16 {
    width: 0.9103vw;
    height: 0.9103vw;
    border-radius: 50%;
    background-color: #ec6b55;
  }
  .logo-panel {
    margin-left: 0;
    margin-right: 0;
    width: 23.218vw;
    height: 4.1646vw;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  .logo-panel-1 {
    width: 23.2180769231vw;
    height: 4.1646vw;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .block-29 {
    width: 14.1917307692vw;
    height: 4.1646vw;
    margin-right: 1.0417vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629dd6f2d66bc_logo%402x.svg);
    background-position: 0px 0px;
    background-size: cover;
    display: flex;
  }
  .text-block {
    width: 7.98673vw;
    height: 3.125vw;
    color: #81848a;
    font-size: 1.5625vw;
    letter-spacing: 0.28px;
    line-height: 3.125vw;
  }
  .logo-panel-mobile {
    display: none;
  }
  .div-1-graphics {
    margin-top: 186vw;
    position: absolute;
    width: 100%;
    height: 121.1538vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562921a42d6705_h-shape-bg-grey-tablet%402x.svg);
  }
}
