/* Segundo main */
.here-section-2 {
  margin-top: 210vw;
  position: relative;
  width: 100%;
}
.here-section-2-1 {
  margin-bottom: 78px;
  position: relative;
  width: auto;
}
.div-block-4 {
  font-family: $font-gemeral;
  line-height: 27px;
  width: 87.9%;
  letter-spacing: 0.28px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.subtitle-1 {
  @include subtitle-1;
}
.div-block-3 {
  font-family: $font-gemeral;
  width: 87.9%;
  position: relative;
  top: 73.12;
  margin-bottom: 27px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.text-span-2 {
  color: $color-green;
  line-height: 0.32rem;
  font-weight: 500;
}
.div-block-5 {
  font-family: $font-gemeral;
  width: 87.9%;
  margin-bottom: 36px;
  position: relative;
  top: 73;
  margin-left: auto;
  margin-right: auto;
}
.desc-2-section-2 {
  @include desc-2;
}
.desc-2-section-2-1 {
  margin-top: 18px;
  letter-spacing: -0.3px;
  text-align: center;
  font-size: 4.6875vw;
  color: $color-lead;
  font-weight: 300;
  line-height: 27px;
}
.btn-section-2 {
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(202, 233, 226, 0.4);
  width: 42.1875vw;
  height: 12.5vw;
  padding: 0px;
  font-family: $font-gemeral;
  font-weight: 600;
  display: block;
  @include btn;
  align-items: center;
  transition: background-color 0.1s;
}
.btn-section-2:hover {
  background-color: rgba(202, 233, 226, 0.64);
}
.btn-2-text {
  margin-right: 2.5vw;
  @include btn-text;
  font-size: 4.275vw;
  text-decoration: none;
  line-height: 27px;
}
.btn-2-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.btn-2-arrow-hover {
  @include btn-hover;
  transition: background-image 1s;
}
.btn-2-arrow-hover:hover {
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562983af2d675d_btn-1-arrow-default%402x.svg);
}
.h-bg-visual-1 {
  position: absolute;
  left: -45.16px;
  top: -50.76px;
  right: auto;
  bottom: auto;
  right: auto;
  bottom: auto;
  display: block;
  width: 210px;
  height: 226px;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629aece2d66c0_h-bg-visual-1%402x.svg);
  @include images;
}
/* 3er main */
.three-main {
  background-color: #f8f8f8;
  font-family: $font-gemeral;
  margin-top: 75px;
}
.widget-wrap {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
}
.c-panel {
  position: relative;
  display: flex;
  width: 100%;
  height: 17.5vw;
  margin-bottom: 31.5px;
  margin-top: 8.75vw;
}
.toggle-wrap {
  width: 87.5vw;
  height: 17.5vw;
  display: flex;
  justify-content: space-between;
}
.text-block-2 {
  margin-right: 18px;
  color: $color-lead;
  font-size: 3.75vw;
  letter-spacing: 0.28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toggle {
  position: relative;
  width: 14.375vw;
  height: 7.5vw;
}
.active-bg {
  width: 14.375vw;
  height: 7.5vw;
  border-radius: 197px;
  background-color: #bfbfbf;
  z-index: 10;
}
// CAMBIO AL HACER CLICK
.green {
  width: 14.375vw;
  height: 7.5vw;
  border-radius: 197px;
  background-color: #009e82;
}

.logo-desactive{
  opacity: 0;
}
.logo-panel-2{
font-size: 16.875px;
height: 36px;
line-height: 27px;
margin-right: 9px;
}
.logo-panel-2-des{
  font-size: 16.875px;
height: 36px;
line-height: 27px;
margin-right: 9px;
}
.text-block-1{
  color: #81848a;
  font-size: 12.5px;
  letter-spacing: 0.28px;
  line-height: 27px;
}
.text-span-8{
font-weight: 600;
}
// HASTA AQUI
.toggle-btn {
  position: absolute;
  left: 2.25px;
  top: 2.25px;
  right: auto;
  bottom: auto;
  width: 6.25vw;
  height: 6.25vw;
  border-radius: 50%;
  background-color: #fff;
}
.hor-line-grey {
  position: absolute;
  left: 0%;
  top: 17.5vw;
  right: auto;
  bottom: 0%;
  display: block;
  height: 1.125px;
  width: 100%;
  background-color: $color-lead;
  opacity: 0.16;
}

.img-panel {
  position: relative;
  width: 87.7vw;
  margin-right: auto;
  margin-left: auto;
}
.visual-img-1 {
  position: absolute;
  width: 87.5vw;
  height: 75.83vw;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0131156292ba42d66dd_visual-widget-1-mobile%402x-min.png);
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  @include images;
}
.visual-img-2 {
  position: relative;
  width: 87.5vw;
  height: 73.06vw;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629de0d2d66c1_visual-widget-2-mobile%402x.png);
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  @include images;
}
.img-desactive{
  opacity: 0;
}
.visual-img-3{
  position:absolute;
  width: 87.5vw;
  height: 75.83vw;
  top:-80;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01311562968e42d66b8_widget-bg-lines%402x.svg);
  top: 0%;
  right: 0%;
  @include images;
}
.div-block-110 {
  position: absolute;
  left: 18%;
  top: 55%;
  right: 0%;
  bottom: 30px;
  width: 62.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.block-14 {
  width: 43.75vw;
  height: 14.87vw;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562988e52d673d_tooltip-body%402x.png);
  @include images;
}
.block-15 {
  margin-left: 180px;
  display: flex;
  width: 5vw;
  height: 5vw;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 6px 18px 6px rgb(0 0 0 / 16%);
}
.block-16 {
  width: 1.58vw;
  height: 1.58vw;
  border-radius: 50%;
  background-color: #ec6b55;
}
.logo-panel {
  display: none;
}
.logo-panel-mobile {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 7.5vw;
  display: flex;
  justify-content: center;
  margin-top: 15.27vw;
  align-items: center;
}
.logo-panel-1 {
  width: 55.21%;
  height: 10vw;
  position: absolute;
  display: flex;
  align-items: center;
}
.logo-panel-1-des{
  width: 55.21%;
  height: 10vw;
  position: absolute;
  display: flex;
  align-items: center;
}
.block-29 {
  width: 61.69%;
  height: 10vw;
  margin-right: 9px;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629dd6f2d66bc_logo%402x.svg);
  @include images;
  display: flex;
}
.block-29-des{
  width: 61.69%;
  height: 10vw;
  margin-right: 9px;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629dd6f2d66bc_logo%402x.svg);
  @include images;
  display: flex;
}
.text-block {
  width: 18.6754178811vw;
  height: 7.5vw;
  color: $color-lead;
  font-size: 3.75vw;
  letter-spacing: 0.28px;
  line-height: 7.5vw;
}
.text-block-des{
  width: 18.6754178811vw;
  height: 7.5vw;
  color: $color-lead;
  font-size: 3.75vw;
  letter-spacing: 0.28px;
  line-height: 7.5vw;
}
/* Cuarto main */
.four-main {
  margin-top: 100px;
  position: relative;
  width: 100%;
  font-size: 16.875px;
  line-height: 27px;
}
.four-main-container {
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 87.5%;
  background-color: transparent;
}
.img-1-wrap {
  display: none;
}
.content-wrap {
  position: relative;
  width: auto;
  display: block;
}
.div-block-6 {
  font-family: $font-gemeral;
  margin-bottom: 9px;
  text-align: center;
  position: relative;
  top: 73;
}
.div-block-8 {
  font-family: $font-gemeral;
  margin-bottom: 45px;
  text-align: center;
  position: relative;
  top: 73;
}
.text-span-48 {
  color: $color-green;
}
.text-span-49 {
  color: $color-green;
}
.img-1-wrap-tablet {
  width: 87.5vw;
  height: 68.75vw;
  display: block;
  margin-bottom: 3.75vw;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156297d492d66e5_h-visual-3-tablet%402x-min.png);
  @include images;
}
.div-block-7 {
  font-family: $font-gemeral;
  width: 100%;
  margin-bottom: 36px;
  position: relative;
  top: 73;
}
.desc-2 {
  @include desc-2;
}
.superscript {
  position: relative;
  top: -5px;
  font-size: 11px;
  text-align: left;
}
.btn-2-section-4 {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(202, 233, 226, 0.4);
  width: 61.25vw;
  top: 0;
  height: 12.5vw;
  padding: 0;
  @include btn;
  align-items: center;
  font-size: 16.875px;
  line-height: 27px;
  transition: background-color 1s;
}
.btn-2-section-4:hover {
  background-color: rgba(202, 233, 226, 0.64);
}
.btn-2-text-section-4 {
  @include btn-text;
  margin-right: 9px;
  font-size: 4.375vw;

  height: 27px;
}
.btn-2-icon-section-4 {
  position: relative;
  width: 20.25px;
  height: 20.25px;
}
.h-bg-visual-2 {
  left: 66.3px;
  top: -31.5px;
  right: auto;
  bottom: auto;
  width: 182px;
  height: 142px;
  position: absolute;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0131156296db12d66c3_h-bg-visual-2%402x.svg);
  @include images;
}

/* 5to main */
.h-section-5 {
  font-family: $font-gemeral;
  margin-top: 40.27vw;
  position: relative;
  width: 100%;
}
.h-section-5-container {
  left: auto;
  width: 87.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  background-color: transparent;
  margin-right: auto;
}
.content-wrap-1 {
  position: relative;
  width: auto;
}
.div-block-9 {
  margin-bottom: 9px;
  text-align: center;
  position: relative;
  top: 73px;
  line-height: 7.5vw;
}
.div-block-11 {
  width: 100%;
  margin-bottom: 27px;
  text-align: left;
  position: relative;
  top: 73px;
}
.h-3 {
  @include h3-text;
}
.text-span-5 {
  color: $color-green;
}
.div-block-10 {
  width: 96.1904761905%;
  text-align: left;
  position: relative;
  top: 73px;
}
.desc-2 {
  @include desc-2;
}
.h-bg-visual-3 {
  position: absolute;
  left: -8.3333vw;
  top: 2.31vw;
  right: auto;
  bottom: auto;
  width: 223px;
  height: 158px;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629468f2d66ad_t-bg-visual-1%402x.svg);
  @include images;
}
.div-block-14 {
  margin-top: 54px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.h-visual-3 {
  width: 100%;
  height: 148.43vw;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c014115629bcb72d674f_h-visual-3-mobile%402x.svg);
  position: relative;
  top: 73px;
  @include images;
}
.div-block-15 {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  position: relative;
  top: 73px;
}
.text-1 {
  font-size: 6.25vw;
  line-height: 8.75vw;
  color: #81848a;
  letter-spacing: -0.5px;
  text-align: center;
}
