.footer {
  padding-bottom: 7.5vw;

  position: relative;
  width: 100%;
  font-family: "Inter", sans-serif;
}
.container-footer {
  width: 87.5vw;
  position: relative;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  margin-top: 20.8333vw;
}
.div-block-35 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 87.5vw;

  margin-bottom: 2.7777vw;
  margin-right: auto;
  margin-left: auto;
}
.footer-logo {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-1 {
  margin-bottom: 2.5vw;
  width: 34.0638vw;
  height: 10vw;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c013115629dd6f2d66bc_logo%402x.svg);
  background-position: 0px 0px;
  background-size: cover;
}
.copyright {
  color: #81848a;
  font-size: 3.75vw;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  height: 27px;
  line-height: 7.5vw;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-list-wrap {
  margin-bottom: 15vw;
  margin-left: 0px;
  text-align: center;
  line-height: 6.8611vw;
}
.nav-title {
  margin-bottom: 5vw;
  color: #1a1b1c;
  font-size: 3.75vw;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.list-nav {
  display: flex;
  flex-direction: column;
}
.link-footer-1 {
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}
.list-item {
  font-size: 4.3611vw;
  line-height: 6.8611vw;
  margin-bottom: 3.75vw;
  color: #81848a;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.link-footer-2 {
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
}
.link-footer-3 {
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
}
.list-item-1 {
  margin-bottom: 0px;
  font-size: 4.3611vw;
  line-height: 6.8611vw;
  color: #81848a;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.link-footer-4 {
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
}
.link-footer-5 {
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
}
.link-footer-6 {
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
}
.link-footer-7 {
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: transparent;
}

/*  Divisiones */
.div-1-graphics {
  margin-top: -1275px;
  position: relative;
  left: auto;
  top: 10px;
  right: auto;
  bottom: auto;
  z-index: -99;
  overflow: visible;
  width: 100vw;
  height: 1400px;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562912f22d6709_h-shape-bg-grey-mobile%402x.svg);
  background-position: 0px 0px;
  background-size: cover;
  // background-color: aqua;
}
.div-2-graphics {
  position: absolute;
  left: auto;

  top: -70px;
  right: auto;
  bottom: auto;
  z-index: -100;
  overflow: visible;
  width: 100%;
  height: 1078px;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c014115629f69b2d670c_h-shape-bg-grey-2-mobile%402x.svg);
  background-position: 0px 0px;
  background-size: cover;
}
.div-3-graphics {
  position: absolute;
  left: auto;
  top: -70px;
  right: auto;
  overflow: visible;
  width: 100%;
  height: 1035px;
  z-index: -101;
  background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562902882d670a_h-shape-bg-grey-3-mobile%402x.svg);
  background-position: 0px 0px;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .container-footer {
    margin-top: 100vw;
  }
}
