@media screen and (min-width: 990px) {
  .hero-section {
    margin-top: 4.9986vw;
  }
  .video-tablet {
    display: none;
  }
  .video-desktop {
    display: block;
    position: relative;
    width: 91.665vw;
    height: 44.3046vw;
    margin-left: auto;
    margin-right: auto;
  }
  .video-desktop-1 {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }
  .hero-container {
    position: absolute;
    width: 100%;
    height: 44.3046vw;
  }
  .container-wrap {
    width: 44.444vw;
    height: 30.5495vw;
    margin-left: 8.3333vw;
  }
  .block-1 {
    color: #f6fcfb;
    margin-bottom: 3.0555vw;
    height: 18.32vw;
    line-height: 1.6666vw;
  }
  .text-1-animation {
    height: 6.1106vw;
  }
  .text-2-animation {
    height: 6.1106vw;
  }
  .text-3-animation {
    height: 6.1106vw;
  }
  .h-1 {
    font-size: 6.1111vw;
    font-weight: 500;
    letter-spacing: -1.76px;
    line-height: 6.1111vw;
  }
  .text-span {
    color: #00edc2;
  }
  .block-2 {
    font-size: 1.0416vw;
    margin-bottom: 3.0555vw;
    line-height: 1.6666vw;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    width: 29.513vw;
    height: 3.33075vw;
  }
  .parrafo-1 {
    letter-spacing: -0.3px;
  }
  .block-3 {
    width: 8.10546vw;
    height: 2.7773vw;
    border-radius: 0.5555vw;
    margin-top: -1px;
    letter-spacing: -0.3px;
  }
  .btn-1-text {
    font-size: 0.9722vw;
    font-weight: 600;
    letter-spacing: 0.28px;
    margin-right: 6.6666px;
  }
  .btn-1-arrow-hover {
    width: 1.24866vw;
    height: 1.24866vw;
  }
  /* 6to main */
  .h-section-6 {
    margin-top: 235px;
  }
  .content-wrap-section-6 {
    width: 83.332vw;
  }
  .content-wrap-section-6-1 {
    width: 100%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .div-block-16 {
    width: 41.6653vw;
    top: 0px;
    margin-bottom: 1.11108vw;
    font-size: 1.0416vw;
    line-height: 1.6666vw;
  }
  .div-block-17 {
    width: 41.6653vw;
    top: 0px;
  }
  .div-block-19 {
    width: 29.8606vw;
    margin-top: 5.569px;
  }
  .div-block-18 {
    width: 100%;
    margin-bottom: 0px;
    position: relative;
    top: 0px;
    line-height: 1.6666vw;
  }
  .desc-2-block-18 {
    font-size: 1.0416vw;
    line-height: 1.6666vw;
    letter-spacing: -0.3px;
    text-align: left;
  }
  .btn-2-section-6 {
    top: 1.8846vw;
    margin-right: auto;
    width: 13.61066vw;
    height: 2.7773vw;
    border-radius: 0.5555vw;
    font-size: 0.972225vw;
    line-height: 1.6666vw;
  }
  .btn-2-text-section-6 {
    margin-right: 0.5555vw;
    font-size: 0.952225vw;
    letter-spacing: 0.28px;
    line-height: 1.6666vw;
    height: 1.6653vw;
    width: 9.509vw;
  }
  .h-visual-4-wrap {
    width: 91.665vw;
    height: 47.3316vw;
    margin-top: 4.225vw;
    background-color: #f8f8f8;
  }
  .h-visual-4-header {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 4.513vw;
    margin-left: auto;
    margin-right: auto;
  }
  .divider-line-grey {
    width: 84.4441vw;
    height: 0.069vw;
  }
  .header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.09;
  }
  .header-content {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.95311vw;
    line-height: 3.125vw;
    margin-left: auto;
    margin-right: auto;
    height: 3.125vw;
  }
  .biom-solution {
    display: flex;
    align-items: center;
    margin-right: 4.16667vw;
    font-size: 1.95311vw;
    line-height: 3.125vw;
  }
  .green-bullet {
    width: 0.694vw;
    height: 0.694vw;
  }
  .text-block-13 {
    margin-left: 0.4166vw;
    font-weight: 300;
    letter-spacing: -0.28px;
    line-height: 1.6666vw;
    font-size: 0.97225vw;
  }
  .partner-involvement {
    display: flex;
    align-items: center;
  }
  .grey-bullet {
    width: 0.694vw;
    height: 0.694vw;
  }
  .text-block-14 {
    margin-left: 0.4166vw;
    margin-left: 0.7813vw;
    letter-spacing: -0.28px;
    line-height: 1.6666vw;
    font-size: 0.97225vw;
  }
  .h-bg-visual-4 {
    position: absolute;
    top: -45px;
    right: -17px;
    width: 19.0963vw;
    height: 13.054vw;
  }
  .h-bg-visual-5 {
    display: none;
  }
  .t-1 {
    top: 9vw;
    right: 60.7vw;
    width: 17.777vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-2 {
    top: 9.0888vw;
    right: 39.955vw;
    width: 11.8046vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-3 {
    right: 17.2vw;
    bottom: 34.9vw;
    width: 10.207vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-4 {
    left: 3vw;
    top: 41.5555vw;
    width: 13.0546vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-5 {
    left: 26vw;
    top: 41.5vw;
    width: 15.2773vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-6 {
    left: 51.5vw;
    bottom: 3.5vw;
    width: 12.9856vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .t-7 {
    left: 75vw;
    bottom: 4.45vw;
    width: 12.4296vw;
    line-height: 1.25vw;
    letter-spacing: 0.24px;
    font-size: 0.833325vw;
  }
  .line-point-1 {
    left: 21.5777vw;
    top: 12.06vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156291edb2d6749_line-point-1%402x.svg);
  }
  .line-point-2 {
    top: 12.06vw;
    right: 45.35vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156291edb2d6749_line-point-1%402x.svg);
  }
  .line-point-3 {
    right: 21.83vw;
    bottom: 30.6vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156291edb2d6749_line-point-1%402x.svg);
  }
  .line-point-4 {
    left: 9.61vw;
    top: 36.9vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156295fb22d674b_line-point-grey%402x.svg);
  }
  .line-point-5 {
    display: block;
    top: 36.7vw;
    left: 33.5vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562929ec2d6758_line-point-green%402x.svg);
  }
  .line-point-6 {
    left: 57.28vw;
    bottom: 6.56vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562929ec2d6758_line-point-green%402x.svg);
  }
  .line-point-7 {
    left: 80.66vw;
    bottom: 6.2333vw;
    width: 0.9713vw;
    height: 4.027vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c0141156295fb22d674b_line-point-grey%402x.svg);
  }
  .h-visual-4-img {
    width: 83.332vw;
    height: 20.832vw;
    margin-top: 11.3889vw;
    background-image: url(https://uploads-ssl.webflow.com/6100c013115629146c2d6689/6100c01411562982cf2d674d_h-visual-4-n%402x.svg);
  }
  /* 7TO Main */
  .h-section-7 {
    height: 100.0051vw;
    margin-top: 5.2608vw;
    margin-bottom: 0px;
    height: 53.6106vw;
  }
  .here-video-2-mobile {
    display: none;
  }
  .here-video-2-tablet {
    display: none;
  }
  .here-video-2-desktop {
    display: block;
    width: 93.19%;
    margin-left: auto;
    margin-right: auto;
    height: 53.61vw;
  }
  .here-video-2-desktop-1 {
    display: block;
    width: 100%;
    height: 53.61vw;
    z-index: -1;
  }
  .h-section-7-container {
    margin-top: -1.2vw;
    width: 83.232vw;
    height: 38.74vw;
    padding-top: 0vw;
    margin-bottom: 0px;
  }
  .div-block-36 {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  .content-h-section-7 {
    width: 33.9354vw;
    height: 29.431vw;
  }
  .div-block-21 {
    margin-bottom: 3.3889vw;
    width: 100%;
    text-align: left;
  }
  .h-2 {
    font-size: 5vw;
    line-height: 5.0833vw;
  }
  .div-block-20 {
    margin-bottom: 6.25vw;
    height: 20.8323vw;
    font-size: 1.05vw;
    margin-bottom: 0vw;
    line-height: 10.16vw;
    text-align: left;
  }
  .desc-1 {
    font-size: 1.05vw;
    margin-bottom: 1.129vw;
    line-height: 1.69vw;
  }
  .btn-2-section-7 {
    width: 8.188vw;
    height: 3.9229vw;
    padding: 0px;
    border-radius: 0.5648vw;
    display: flex;
    text-align: left;
    margin-left: -26.25vw;
  }
  .cta-widget-section-7 {
    width: 41.665vw;
    height: 33.9153vw;
    margin-bottom: 0px;
  }
  .div-block-22 {
    left: 11.675vw;
    top: 11.5vw;
    width: 21.957vw;
    height: 13.061vw;
  }
  .div-block-23 {
    left: 12.5333vw;
    top: -1.5vw;
    width: 15.9557vw;
    height: 14.1198vw;
  }
  .div-block-24 {
    top: 3.8277vw;
    right: 0.25vw;
    width: 13.2721vw;
    height: 11.8606vw;
  }
  .div-block-25 {
    right: 1.99777vw;
    bottom: 2.9277vw;
    width: 15.037vw;
    height: 14.4023vw;
  }
  .div-block-26 {
    right: 13.3333vw;
    bottom: -2.3vw;
    width: 13.2721vw;
    height: 11.6484vw;
  }
  .div-block-27 {
    left: 0.25vw;
    bottom: 1.9vw;
    width: 15.39vw;
    height: 15.6028vw;
  }
  .div-block-28 {
    left: 0.5vw;
    top: 3.0277vw;
    width: 13.4843vw;
    height: 12.9192vw;
  }
}
