@media screen and (min-width: 900px) {
  .hero-section {
    margin-top: 4.9986vw;
  }
  .video-mobile {
    display: none;
  }
  .video-tablet {
    display: none;
  }
  .video-desktop {
    display: block;
    position: relative;
    width: 91.665vw;
    height: 44.3046vw;
    margin-left: auto;
    margin-right: auto;
  }
  .video-desktop-1 {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }

  .hero-container {
    position: absolute;
    width: 100vw;
    height: 44.4vw;
    margin-top: 0px;
  }
  .container-wrap {
    width: 78.125vw;
    margin-top: 9vw;
    height: 24.7vw;
  }
  .here-title {
    font-size: 5vw;
    letter-spacing: -1.4px;
    line-height: 5vw;

    margin-bottom: 2.777vw;
  }

  .parrafo-1 {
    font-size: 1.0416vw;
    letter-spacing: -0.3px;
    line-height: 1.666vw;
    margin-bottom: 5.055vw;
    width: 41.66vw;

    margin-left: auto;
    margin-right: auto;
  }
  .block-3 {
    width: 8.1054vw;
    height: 2.7773vw;
    margin-top: 0;
  }

  .btn-1-text {
    font-size: 0.9722vw;
    margin-right: 5.33px;
  }

  .btn-1-arrow-hover {
    width: 1.24vw;
    height: 1.24vw;
  }
  // 7 section
  .h-section-7 {
    height: 100.0051vw;
    margin-top: 8.2608vw;
    margin-bottom: 0px;
    height: 53.6106vw;
  }
  .here-video-2-mobile {
    display: none;
  }
  .here-video-2-tablet {
    display: none;
  }
  .here-video-2-desktop {
    display: block;
    width: 93.19%;
    margin-left: auto;
    margin-right: auto;
    height: 53.61vw;
  }
  .here-video-2-desktop-1 {
    display: block;
    width: 100%;
    height: 53.61vw;
    z-index: -1;
  }
  .h-section-7-container {
    margin-top: -1.2vw;
    width: 83.232vw;
    height: 38.74vw;
    padding-top: 0vw;
    margin-bottom: 0px;
  }
  .div-block-36 {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  .content-h-section-7 {
    width: 33.9354vw;
    height: 29.431vw;
  }
  .div-block-21 {
    margin-bottom: 3.3889vw;
    width: 100%;
    text-align: left;
  }
  .h-2 {
    font-size: 5vw;
    line-height: 5.0833vw;
  }
  .div-block-20 {
    margin-bottom: 6.25vw;
    height: 20.8323vw;
    font-size: 1.05vw;
    margin-bottom: 0vw;
    line-height: 10.16vw;
    text-align: left;
  }
  .desc-1 {
    font-size: 1.05vw;
    margin-bottom: 1.129vw;
    line-height: 1.69vw;
  }
  .btn-2-section-7 {
    width: 8.188vw;
    height: 3.9229vw;
    padding: 0px;
    border-radius: 0.5648vw;
    display: flex;
    text-align: left;
    margin-left: -26.25vw;
  }
  .cta-widget-section-7 {
    width: 41.665vw;
    height: 33.9153vw;
    margin-bottom: 0px;
  }
  .div-block-22 {
    left: 11.675vw;
    top: 11.5vw;
    width: 21.957vw;
    height: 13.061vw;
  }
  .div-block-23 {
    left: 12.5333vw;
    top: -1.5vw;
    width: 15.9557vw;
    height: 14.1198vw;
  }
  .div-block-24 {
    top: 3.8277vw;
    right: 0.25vw;
    width: 13.2721vw;
    height: 11.8606vw;
  }
  .div-block-25 {
    right: 1.99777vw;
    bottom: 2.9277vw;
    width: 15.037vw;
    height: 14.4023vw;
  }
  .div-block-26 {
    right: 13.3333vw;
    bottom: -2.3vw;
    width: 13.2721vw;
    height: 11.6484vw;
  }
  .div-block-27 {
    left: 0.25vw;
    bottom: 1.9vw;
    width: 15.39vw;
    height: 15.6028vw;
  }
  .div-block-28 {
    left: 0.5vw;
    top: 3.0277vw;
    width: 13.4843vw;
    height: 12.9192vw;
  }
}
